.nav-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: maroon;
    color: white;
    padding: 30px;
    margin-bottom: 20px ;
}

a{
    color: var(--nav-text);
    text-decoration: none;
  }