/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');

:root{
  --navback: rgb(116, 16, 16);
  --navtext: white;
  --bodyback: slategray;
  --titletxt: 'Monoton', cursive;
  --handwriting: 'Indie Flower', cursive;
  --cardtxt: 'Newsreader', serif;
}

body{
  background-color: var(--bodyback);
  text-align: center;
  
}

a{
  color: var(--nav-text);
  text-decoration: none;
}

img{
   display: block;
   /* width: 100%; */
   height: 300px;
   margin: auto;
   
}

h1{
  color: var(--navback);
}

h2{
   color: var(--navback);
   font-weight: bold;
}

button{
  background-color: var(--navback);
  color: var(--navtext);
  font-family: var(--titletxt);
}

input {
  font-family: 'Indie Flower', cursive;
}

   .display-4{
       font-family: 'Monoton', cursive;
   }
   .lead{
       font-family: 'Indie Flower', cursive;
   }

.card{
   background-color: rgba(211, 200, 200, 0.527);
   font-family: var(--cardtxt);
}

   #card.flipped {
       transform: rotateY(180deg);
   }

.btn-outline-danger{
   font-family: var(--titletxt);
   color: var(--navback);
   font-size: 150%;
   margin-top: 5px;
}












/* pre-downloaded style */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
